
# === Backend specific ===
node_modules/
dist/
.env.local
coverage/


# === Frontend fallback (au cas où) ===
frontend/coverage/
frontend/node_modules/
frontend/build/

# === IDE / OS files ===
.vscode/
.idea/
.DS_Store
Thumbs.db
